@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@page {
    size: A4;
    margin: 0;
}

html {
    background-color: #525659;
    min-height: 100vh;
    width: 100%;
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 20px 0;
    background-color: #525659;
    font-family: "Libre Franklin", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.invoice {
    background-color: white;
    width: 794px; /* A4 width at 96 DPI */
    min-height: 1123px; /* A4 height at 96 DPI */
    margin: 0 auto;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.watermark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.05;
    width: 350px; /* Reduced size */
    height: auto;
    z-index: 0;
}

.main {
    padding: 2rem 2rem 0;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0rem;
    border-right: 4px solid #0000ff;
    padding-right: 0.5rem;
    align-items: flex-start;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo {
    width: 184px;
    height: 60px;
    color: #0000ff;
}

.company-name {
    font-size: 32px;
    font-weight: 500;
    color: #333;
    line-height: 1.2;
}

.studio-text {
    font-size: 24px;
    color: #666;
}

.invoice-details {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px 20px;
    text-align: right;
}

.invoice-details h1 {
    font-weight: 700;
    margin-bottom: 2px;
    color: #212121;
    font-size: 14px;
}

.invoice-details h3 {
    color: #212121;
    font-weight: 500;
    font-size: 12px;
}

.main-title {
    font-size: 2rem;
    color: #111827;
    margin-bottom: 0.5rem;
    font-weight: bold;
    text-align: center;
}

.invoice-title {
    font-size: 2rem;
    color: #111827;
    margin-bottom: 2rem;
    font-weight: 600;
    text-align: center;
}

.client-details {
    padding: 8px 18px;
    border-radius: 6px;
}

.client-details h2 {
    font-size: 18px;
    margin: 0;
    margin-bottom: 0.8rem;
    color: #212121;
}

.client-details p {
    margin-bottom: 0.2rem;
    font-size: 13px;
    font-weight: bold;
    color: #212121;
}

.client-details span {
    font-weight: 600;
    font-size: 14px;
    color: #212121;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 5px 0;
    border: none;
}

/* Add blue header bar */
thead {
    border-top: 3px solid #0000ff;
}

th {
    padding: 10px;
    text-align: left;
    font-weight: 600;
    color: #212121;
    border-bottom: 1px solid rgba(48, 57, 74, 0.493);
    font-size: 16px;
}

td {
    padding: 10px;
    text-align: left;
    color: #212121;
    border-bottom: 1px solid rgba(48, 57, 74, 0.493);
    font-size: 13px;
}

/* Add bottom blue border */
/* tbody tr:last-child td {
    border-bottom: 2px solid #0000ff;
} */

/* Align numbers to the right */
td:nth-child(3),
td:nth-child(4),
th:nth-child(3),
th:nth-child(4) {
    text-align: center;
}

td:nth-child(5),
th:nth-child(5) {
    text-align: center;
}
.invoice-summary {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
}

.notes {
    flex: 1;
    color: #888888;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 15px;
    font-weight: 500;
}

.notes p {
    max-width: 350px;
    margin-bottom: 0.5rem;

    span {
        font-weight: bold;
        color: #f7aab7;
    }
}
.notes-2 {
    margin-top: 30px;
    color: #f7aab7;
}

.totals {
    width: 230px;
    border-radius: 6px;
}

.totals div {
    display: flex;
    justify-content: space-between;
    padding: 12px 25px;
    color: #4b5563;
    border-bottom: 1px solid rgba(48, 57, 74, 0.493);
}

.totals div span {
    font-weight: 500;
    color: #212121;
    font-size: 13px;
}

.totals div .total-title {
    font-weight: 600;
    font-size: 14px;
}

.total {
    font-weight: bold;
    color: #111827 !important;
    border-bottom: 3px solid #0000ff !important;
}

.payment-info {
    margin-top: 3rem;
    padding-top: 2rem;
    border-top: 1px solid #e5e7eb;
}

.payment-info h3 {
    color: #374151;
    margin-bottom: 1rem;
    font-size: 1.125rem;
}

.payment-info p {
    margin-bottom: 0.5rem;
    color: #4b5563;
    line-height: 1.5;
}

.signature {
    border-bottom: 0px !important;
    flex-direction: column;
    width: 200px;
    text-align: center;
    padding-top: 0.5rem;
    color: #374151;
    margin-top: 10px;
    width: 100%;
}

.signature p {
    color: #888888;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.7px;
}

.signature-image {
    width: 180px;
    height: auto;
    margin: auto;
}

.kindly-note {
    color: #888888;
    font-size: 0.875rem;
    margin-top: 1rem;
    font-style: italic;
}

.header-bar {
    background-color: #0000ff;
    height: 40px;
    width: 100%;
}

.logo {
    color: #0000ff;
    width: 200px;
    height: 60px;
}

.footer-contact {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    background-color: white;
    gap: 15px;
}

.footer-contact h1 {
    font-size: 14px;
    color: #888888;
    font-weight: 600;
    width: 100%;
    text-align: start;
}

.footer-contact .main {
    width: 100%;
    text-align: end;
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 5px;
    padding: 0;
}

.contact-info {
    text-align: right;
}

.contact-info > p:first-child {
    color: #212121;
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 12px;
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-right: 3px solid #0000ff;
    width: fit-content;
    padding: 0 25px;
    padding-left: 0;
}

.contact-details p {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #212121;
    font-size: 11px;
    font-weight: 500;
    margin: 0;
}

.contact-details img {
    width: 14px;
    height: 14px;
}

.footer-logo {
    width: 60px;
    height: max-content;
}

.logo path:first-child {
    fill: #0000ff;
}

.logo path:last-child {
    fill: white;
}

/* Header Section */
.header-section {
    position: relative;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    z-index: 1;
}

/* Content Section */
.content-section {
    position: relative;
    padding: 0 20px;
    margin: 0px auto;
    min-height: 600px; /* Taller content section */
    z-index: 1;
}

.content-section table {
    margin-top: 15px;
    width: 100%;
    position: relative;
}

/* Footer Section */
.footer-section {
    position: relative;
    border-top: 1px solid #eee;
    z-index: 1;
}

.invoice-item td {
    padding: 10px 5px;
    vertical-align: middle;
}
